body,
button {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    padding: 200px 0;
}

hr {
    margin: 50px 0;
    opacity: 0.3;
}


.center-column {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

.trukendoos, .bedenktijdje {
    position: relative;
}

.trukendoos::after {
    content: '';
    background-image: url(img/trukendoos.png);
    width: 375px;
    height: 56px;
    position: absolute;
    background-size: 100% 100%;
    top: -9px;
    left: 179px;
}

.bedenktijdje::after {
    content: '';
    background-image: url(img/wip.png);
    width: 65px;
    height: 30px;
    position: absolute;
    background-size: 100% 100%;
    top: 4px;
    left: 199px;
}

.demo {
    width: 100%;
    height: 320px;
    background-image: linear-gradient(#dfdfdf 1px, transparent 1px), linear-gradient(to right, #dfdfdf 1px, #f8f8f8 1px);
    background-size: 20px 20px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.demo button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
}

.block {
    background-color: grey;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    transition: 1s linear;
}

.active {
    background-color: red;
    transform: translateX(900px);
}

.code {
    background-color: #f0efe7;
    padding: 20px;
    font-family: monospace;
}


.clouds {
    background-image: url(img/clouds.png);
    background-size: 640px 204px;
    width: 400%;
    height: 204px;
    position: absolute;
    top: 7px;
    animation: clouds 3s linear infinite;
}

.clouds:nth-of-type(2) {
    animation: clouds 6s linear infinite;
    opacity: 0.6;
}

@keyframes clouds {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-640px);
    }
}


.easeoutmenu {
    background-color: grey;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    transition: 1s linear;
}

.easeout {
    transition: 0.3s ease-out;
    height: 400px;
    width: 400px;
    top: 0;
    left: -400px;
}

.easeout.better {
    transition: 0.4s cubic-bezier(0.42, 0, 0, 1);
}

.easeout.active {
    background-color: red;
    transform: translateX(400px);
}

.layeredcontainer {
    background-color: rgba(255, 255, 255, 0);
    width: 300px;
    height: 200px;
    position: relative;
    top: 50px;
    margin: 0 auto;
    transition: 0.3s cubic-bezier(0.42, 0, 0, 1);
    transform: translateY(25px);
}

.layeredcontainer.active {
    transform: scale(1) translateY(0px);
    transition: 1.6s cubic-bezier(0.42, 0, 0, 1);
}

.layeredchild {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transform: scale(0);
    transition: 0.3s cubic-bezier(0.42, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.layeredchild h2,
.layeredchild p {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 3px;
    position: relative;
    top: -10px;
    opacity: 0;
    color: white;
    transform: translateY(40px);
    transition: 0.3s ease;
    text-shadow: 1px 1px 4px #000000b0;
}

.layeredcontainer.active h2,
.layeredcontainer.active p {
    opacity: 1;
    transform: translateY(0);
    transition: 0.8s ease;
    transition-delay: 0.1s;
}

.layeredcontainer.active .layeredchild {
    transform: scale(1);
    background-color: black;
    transition: transform 0.6s cubic-bezier(0.42, 0, 0, 1), background-color 2s cubic-bezier(0.42, 0, 0, 1);
}

.knorrig {
    position: absolute;
    width: 100%;
    height: 200%;
    background-image: url(img/knorrig.png);
    opacity: 0.8;
    transition: 0.3s ease;
    transform: translateY(200px) scale(1.3);
}

.layeredcontainer.active .knorrig {
    transform: translateY(150px) scale(1);
    transition: 3s ease;
    opacity: 0.7;
}

.stagger, .stagger2, .sequential {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.stagger .child {
    background-color: red;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.9s cubic-bezier(0.42, 0, 0, 1), opacity 0.6s ease-out;
    transform: translateY(80px) scale(0);
    opacity: 0;
}


.stagger.activate .child {
    transform: translateY(0px) scale(1);
    opacity: 1;
}

/* do this with a clever loop instead */
.stagger .child:nth-child(2){ transition-delay: 0.03s;}
.stagger .child:nth-child(3){ transition-delay: 0.06s;}
.stagger .child:nth-child(4){ transition-delay: 0.09s;}
.stagger .child:nth-child(5){ transition-delay: 0.12s;}
.stagger .child:nth-child(6){ transition-delay: 0.15s;}
.stagger .child:nth-child(7){ transition-delay: 0.18s;}
.stagger .child:nth-child(8){ transition-delay: 0.21s;}
.stagger .child:nth-child(9){ transition-delay: 0.24s;}
.stagger .child:nth-child(10){ transition-delay: 0.27s;}


.stagger2 .child {
    background-color: red;
    width: 80px;
    height: 120px;
    margin: 0 20px;
    transition: transform 0.7s cubic-bezier(0.42, 0, 0, 1), opacity 0.6s ease-out, margin 0.6s ease;
    transform: translateY(80px) scale(0);
    opacity: 0;
}


.stagger2.activate .child {
    transform: translateY(0px) scale(1);
    opacity: 1;
    margin: 0;
}

.stagger2 .child:nth-child(1){ transition-delay: 0.32s;}
.stagger2 .child:nth-child(2){ transition-delay: 0.16s;}
.stagger2 .child:nth-child(3){ transition-delay: 0.08s;}
.stagger2 .child:nth-child(4){ transition-delay: 0.04s;}
.stagger2 .child:nth-child(5){ transition-delay: 0.0s;}
.stagger2 .child:nth-child(6){ transition-delay: 0.04s;}
.stagger2 .child:nth-child(7){ transition-delay: 0.08s;}
.stagger2 .child:nth-child(8){ transition-delay: 0.16s;}
.stagger2 .child:nth-child(9){ transition-delay: 0.32s;}
.stagger2 .child:nth-child(10){ transition-delay: 0.32s;}

#sequence {
    background-color: grey;
    width: 0px;
    height: 0px;
}